:root {
    --primary-color:#2A4D6E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
}

/* apply the styles to the header */
header {
    padding: 20px 35px; 
    background-color: #2A4D6E;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}